<h2>新規作成</h2>
<%= form_with(model: current_user.shuffle_lists.build, local: true) do |f| %>
    <div class="form-group">
        <%= f.text_field :name, class: 'form-control' %>
    </div>
    <%= f.submit 'Post', class: 'btn btn-primary' %>
<% end %>

<h2>一覧</h2>
<% if @shuffle_lists %>
    <% @shuffle_lists.each do |shuffle_list| %>
        <p><%= shuffle_list.name %></p>
    <% end %>
<% end %>
